<%- include('partials/header') %>

<div class="jumbotron text-center">
    <h2 class="user">Welcome, <%= user_email %></h2>
    <div class="container">
        <span class="fas fa-key fa-6x"></span>
        <h1 class="display-3">You've Discovered My Secret!</h1>
        <p class="secret-text">I have no immediate secrets.</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
</div>

<%- include('partials/footer') %>